services:
  postgres:
    image: postgres:18-alpine
    restart: always
    networks:
      - library-network
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql

  redis:
    image: redis:8-alpine
    restart: always
    networks:
      - library-network
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    command: ['redis-server', '--appendonly', 'yes']

  rustfs:
    image: rustfs/rustfs:1.0.0-alpha.78
    restart: always
    networks:
      - library-network
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - rustfs-data:/data

networks:
  library-network:

volumes:
  postgres-data:
  redis-data:
  rustfs-data:
