name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  # Check code formatting using prettier
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Mise
        uses: jdx/mise-action@v3

      - name: Check code formatting
        run: pnpm format:check .

  # Lint the codebase with ESLint
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install

      - name: Run linter
        run: pnpm lint
